body{
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.colorPicerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

}
h1{
  margin: 50px;
  font-size: 3em;

}
.color-dispaly{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.2s ease;
}
.color-dispaly p{
color: rgb(119, 119, 119);
font-size: 1.5em;
text-align: center;
}
label{
  font: 400;
  font-size: 1.2em;
  margin-bottom: 10px;
}